.add-invoice-btn {
  margin-left: 1rem;
  background-color: var(--light-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
