.forgot-pass-cont {
    overflow: hidden;
    position: relative;
    width: auto;
    background-color: white;
    justify-content: space-around;
    height: auto;
    position: absolute;
    transition: all 0.4s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;}

    .content-forgot {
        padding: 1.95rem;
        flex-direction: column;
        display:flex;
    height:auto;
    width: auto;}

    .popup-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
        z-index: 999; /* Ensure it's on top of other content */
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .submit-forgot{
        color: #ffffff;
  background-color: #0B6265;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
 
      }

      .close-forgot{
        color: #ffffff;
  background-color: #0B6265;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
      }

      .forgot-bottom{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 1rem;
        gap:1rem;
      }

      .css-ahj2mt-MuiTypography-root {
        margin: 0;
        font-family: "Roboto","Helvetica","Arial",sans-serif;
        font-weight: 400;
        font-size: 0.75rem !important;
        line-height: 1.5;
        letter-spacing: 0.00938em;
    }