@import "../../config/colors.css";

.login {
  display: flex;
  padding: 0rem 0rem 0rem 5rem;
  overflow-y: hidden;
  .left-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    .row1 {
      margin-bottom: 3rem;
      h1 {
        margin-bottom: 0.5rem;
      }
    }
    .row2 {
      margin-bottom: 1rem;
      h3 {
        font-weight: normal;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
      }
    }
    .row3 {
      
      label {
        color: var(--primary-color);
        font-size: small;
        cursor: pointer;
        display: flex;
        flex-direction: row-reverse;
    align-items: center;
    width:auto;
    .inlog{
width:auto;
align-items: right;
margin-right: 5px;

    }
      }
    }
    .row4 {
      margin-top: 4rem;
      .login-button {
        width: 70%;
        background-color: var(--primary-color);
        padding: 0.5rem 1rem 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: bold;
      }
    }
  }
  .right-box {
    background-image: url("https://img.freepik.com/free-vector/clean-medical-background_53876-119280.jpg?w=2000");
    background-size: cover; /* Adjust the image size as needed */
    background-repeat: no-repeat;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);

    .row2 {
        margin-top: 2rem;
      p {
        text-align: center;
        font-size: 1.2rem;
      }

    }
    .row3{
        margin-top: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        
        .register-button {
        width: 55%;
        background-color: var(--primary-color);
        padding: 0.5rem 1rem 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: bold;
      }
    }
  }
}
