@import "../../../config/colors.css";
.container-with-recurrence {
  position: relative;

.msg {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  min-height: 30vh;
  margin-bottom: 20px; 
  margin-top: 20px;

  h3 {
    font-size: 0.85rem;
    font-weight: normal;
    margin-right: 1rem;
  }

  .col1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    .row1 {
      display: flex;
      font-weight: bold;
      margin-bottom: 1.5rem;
      align-items: center;
      h2 {
        margin-right: 1rem;
        font-size: 1rem;
        font-weight: 700;
      }
    }
    .row2 {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
    }
    .row34 {
      display: flex;
      align-items: center;
      width: 20%;
      h3 {
        margin-right: 3.7rem;
      }
      .edit {
        text-decoration: underline;
        color: blue;
        margin-left: 0.5rem;
      }
    }
    .row4{
      margin-top: 0.75rem;
      display: flex;
      gap: 20px;
      
    }
    .message-type-section {
      margin-top: 20px;
      margin-bottom: 10px;
      

    }
    
    .message-type-radio input {
      margin-top: 0.75rem;
      margin-right: 5px;
      margin-left: 0; /* Align the checkbox input to the left */
      width: 17px;
      height: 20px;
      border: 1px solid #ccc;
 
    }

    .message-type-radio label {
      font-size: 13px; /* Adjust the font size as needed */
    }
    
  
    
  }
  .col2 {
    width: 80%;
    display: flex;
    flex-direction: column;

    .box {
      height: 15vh;
      background-color: lightgray;
      border: 0.5px solid #d1d1d1;
      border-radius: 5px;
    }
    .row-2 {
      width: 100%;
      margin-top: 1rem;
      display: flex;
      justify-content: start;
      .column1,
      .column2,
      .column3 {
        width: 33.3%;
      }
      .column2,
      .column3 {
        margin-left: 0.5rem;
      }
    }

    .row3 {
      display: flex;
      margin-top: 1rem;
      overflow-y: auto;
      max-height: 8vh;
      p {
        margin-right: 2rem;
        white-space: nowrap;
      }
    
    }
  }
}


.text-section,
.attachment-section {
  margin-top: 20px;
  margin-right: 10px;
}

.text-section textarea {
  width: 100%;
  height: 125px;
  border: 2px solid #ccc;
  padding: 5px;
}

.attachment-section input[type="file"] {
  margin-top: 5px;
}
}