@import "../../config/colors.css";

.container1 {
    width: 100%;
    height: auto;
    border-radius: 15px;
    background: #ffffff;
    position: relative;
    padding: 1.5rem;
    border: 2px solid #B3B3B3;
    transition: 0.5s ease-out;
    overflow: hidden;
   }
  .header-icons{

    display:flex;
    align-items: center;
  }
   .icon{
    color:#545454;
    padding:2%;
    font-size:1rem;
  }
  .iconf{
    color:#545454;
    padding:2%;
    font-size:0.3rem;
  }
  td{
    height:auto;
    padding-right:50px;
  }
  .css-i4bv87-MuiSvgIcon-root {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.2rem !important;
}
.column {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 0;
}
  .title{
    color:var(--primary-color);
    h2{
font-size:15px;

    }
  }
  .icondelete {
    color: #545454;
  
    
  }
  .icon1{
    margin-top: -5px;
  }
  .save-button{
    width:auto;
  }
  .custom-select {
    width: 30%;
    padding: 10px;
    font-size: 0.9rem;
    border: 1px solid #0B6265;
    border-radius: 4px;
    background-color: #fff;
    
  }
.save-butt-soc{
  background-color: #0B6265;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
border: 1px solid #0B6265;
font-size:0.6rem;
width:100%;
}
.button-container {
  display: flex; /* Display the buttons in a row */
  gap: 10px; 
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.username {
  margin-left: 1rem; 
  font-size: 0.6rem;
}

.iconedit-icon{
  font-size: 0.8rem;
  color: #545454;
  margin-left: 1rem; 
}
.iconremove-icon{
  font-size: 0.8rem;
  margin-left: 1rem; 
  color: #545454;
}
.custom-inputss{
  width:100%;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.75rem;
  
}
.editbutto{
  margin-top:0.5rem;
  display:flex;
  justify-content: flex-end;
}
.custom-input {
  display: block;
  margin: 1rem;
}

.save-butt{
  background-color: #0B6265;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
border: 1px solid #0B6265;
font-size:0.6rem;
width:auto;
}

input #username{
  font-size: 0.75rem;
}
.custom-input input{
  width:100%;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.75rem;
}
.addsocialdiv {
  display: flex; 
  align-items: center; }
.custonfield {
  width: auto;
  border: 1px solid #bdbdbd;
 
  font-size: 0.75rem;
  border-radius: 4px;
  outline: none;
  position: relative; 
  height:2rem;

  &::after {
   
    content: "";
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0;
    border-color: #000 transparent transparent transparent;
  }

  &:hover {
    border-color: #000; 
  }

 
}
.phonepat{
  .PhoneInput {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width:100%;}
}