:root{
    --primary-color: #0B6265;
    --second-color: #0B6265;
    --light-color: #ffffff;
    --black-color: #000000;
    --gray-color: #555 ;
    --lightgray-color: #EDEDED;
    --menu-color: #c5c0c0;
    --activity-color: #0b6265;
}